@model FreelanceTech.ViewModel.UserViewModel; 

@{
    ViewData["Title"] = "Index";
    Layout = "_CustomerDashboardLayout";
}
<head>
    <!-- Bootstrap -->
    <link href="../gentelella-master/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../gentelella-master/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../gentelella-master/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="../gentelella-master/vendors/iCheck/skins/flat/green.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="../gentelella-master/build/css/custom.min.css" rel="stylesheet">
</head>
<body>
    <div class="right_col" role="main">


        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Your Dashboard </h3>
                </div>

                <div class="title_right">
                    <div class="col-md-5 col-sm-5  form-group pull-right top_search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                                <button class="btn btn-secondary" type="button">Go!</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="clearfix"></div>
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Customer<small>Upload Job</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Settings 1</a>
                                <a class="dropdown-item" href="#">Settings 2</a>
                            </div>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>

                <div class=" col-md-10 col-sm-10  ">
                    <div class="x_panel">

                        <div class="x_content">

                            <div class="bs-example" data-example-id="simple-jumbotron">
                                <div class="jumbotron">
                                    <h1>Hello, world!</h1>
                                    <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                                </div>


                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>Post New Job</h2>
                                        <ul class="nav navbar-right panel_toolbox">
                                            <li>
                                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                            </li>
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                                    <i class="fa fa-wrench"></i>
                                                </a>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li>
                                                        <a href="#">Settings 1</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Settings 2</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a class="close-link"><i class="fa fa-close"></i></a>
                                            </li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        <div class="buttons center">
                                            <form asp-action="PostJob" asp-controller="Customers" method="get">
                                                <button type="submit" class="btn btn-success btn-lg">Creat Job</button>
                                            </form>

                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>REcent Job Posts</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li>
                                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">Settings 1</a>
                                        <a class="dropdown-item" href="#">Settings 2</a>
                                    </div>
                                </li>
                                <li>
                                    <a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            @{
                                foreach (var job in Model.jobs)
                                {
                                    <ul class="list-unstyled msg_list">
                                        <li>
                                            <a>
                                                <span>
                                                    <span>@job.title</span>
                                                    <span class="time">@job.postedDate</span>
                                                </span>
                                                <span class="message">
                                                    @job.description
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                }
                            }

                        </div>
                    </div>
                </div>

                <div class=" col-md-10 col-sm-10">

                    <h4>Proposed Offer</h4>

                    <!-- end of user messages -->
                    <ul class="messages">
                        @{ 
                            foreach (var item in Model.proposals)
                            {
                                                <li>
                                                    <div class="message_date">
                                                        <p class="month">@item.job.postedDate</p>
                                                    </div>
                                                    <div class="message_wrapper">
                                                        <a href="#myModal" data-toggle="modal"> <h4 class="heading">For Job -> @item.job.title</h4></a>
                                                        <blockquote class="message">@item.description</blockquote>
                                                        <br />
                                                    </div>
                                                    <div id="myModal" class="modal fade">
                                                        <!-- Modal HTML -->
                                                        <div>
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="container emp-profile">
                                                                        <form asp-action="AcceptBid" asp-controller="Customer" method="post">
                                                                            <div class="row">
                                                                                <div class="col-md-4">
                                                                                </div>
                                                                                <div class="col-md-6">
                                                                                    <div class="profile-head">
                                                                                        <h5>
                                                                                           Job -> @item.job.title
                                                                                        </h5>
                                                                                        <h6>
                                                                                            Bid Amount - > @item.bidAmount
                                                                                        </h6>
                                                                                        <h6>
                                                                                            Answers To Questions:
                                                                                        </h6>
                                                                                        <p class="proile-rating">@item.answers</p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <h6>Freelancer Info</h6>
                                                                            <div class="row">
                                                                                <div class="col-md-8">
                                                                                    <div class="tab-content profile-tab" id="myTabContent">
                                                                                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                                                                            <div class="row">
                                                                                                <div class="col-md-6">
                                                                                                    <label>Name</label>
                                                                                                </div>
                                                                                                <div class="col-md-6">
                                                                                                    <p>@item.freelancer.firstName @item.freelancer.lastName</p>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="row">
                                                                                                <div class="col-md-6">
                                                                                                    <label>Email</label>
                                                                                                </div>
                                                                                                <div class="col-md-6">
                                                                                                    <p>@item.freelancer.email</p>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="row">
                                                                                                <div class="col-md-6">
                                                                                                    <label>Phone</label>
                                                                                                </div>
                                                                                                <div class="col-md-6">
                                                                                                    <p>@item.freelancer.phoneNumber</p>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="row">
                                                                                                <div class="col-md-6">
                                                                                                    <label>Profession</label>
                                                                                                </div>
                                                                                                <div class="col-md-6">
                                                                                                    <p>@item.freelancer.title</p>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="row">
                                                                                                <input style="display: none;" type="text" name="freelancerId" value="@item.freelancer.freelancerId" />
                                                                                                <input style="display: none;" type="text" name="jobId" value="@item.jobId" />
                                                                                                <input style="display: none;" type="text" name="proposalId" value="@item.proposalId" />
                                                                                                <button type="submit">Accept</button>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </li>
                            }
                        }
                        

                    </ul>
                    <!-- end of user messages -->
                </div>


            </div>
            </div>
        </div>




        <!-- jQuery -->
        <script src="../gentelella-master/vendors/jquery/dist/jquery.min.js"></script>
        <!-- Bootstrap -->
        <script src="../gentelella-master/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <!-- FastClick -->
        <script src="../gentelella-master/vendors/fastclick/lib/fastclick.js"></script>
        <!-- NProgress -->
        <script src="../gentelella-master/vendors/nprogress/nprogress.js"></script>
        <!-- ECharts -->
        <script src="../gentelella-master/vendors/echarts/dist/echarts.min.js"></script>

        <!-- Custom Theme Scripts -->
        <script src="../gentelella-master/build/js/custom.min.js"></script>
</body>
