@model FreelanceTech.ViewModel.UserViewModel;
@{
    Layout = "DashboardLayout";
}

<h2>OnGoing Projects</h2>
<div class="right_col">
    <div id="myTabContent" class="tab-content">
        <div role="tabpanel" class="tab-pane fade active show" id="tab_content3" aria-labelledby="profile-tab">
            <!-- start user projects -->
            <table class="data table table-striped no-margin">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Project Name</th>
                        <th>Customer Name</th>
                        <th>Payment</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int i = 0;
                        foreach (var item in Model.jobs)
                        {
                            <tr>
                                <td>@i</td>
                                <td>@item.title</td>
                                <td>@item.customerViewModel.firstName @item.customerViewModel.lastName</td>
                                <td class="">
                                    @item.Payment_Amount
                                </td>
                            </tr>
                            i++;
                        }
                    }
                </tbody>
            </table>
            <!-- end user projects -->


        </div>
    </div>
</div>